// Create your own map
$custom-colors: (
  "torque-blue": #2556E6,
  "torque-blue-light": #5B85FF,
);

$custom-spacers: (
  n1: $spacer * -1,
  n2: $spacer * -2,
  n3: $spacer * -3,
  n4: $spacer * -4,
  n5: $spacer * -5,
  n6: $spacer * -6,
  6: $spacer * 4,
  7: $spacer * 5,
  8: $spacer * 6,
  9: $spacer * 7,
  10: $spacer * 8,
);

$custom-position-values: (
  6: 6%,
  10: 10%,
  15: 15%,
  13: 13%,
  20: 20%,
  30: 30%,
  40: 40%,
  45: 45%,
  46: 46%,
  60: 60%,
  70: 70%,
  80: 80%,
  89: 89%,
  90: 90%,
  110: 110%,
  120: 120%
);